{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "eslint-config-prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-curly-spacing": [1, {"when": "always"}],
    "react/jsx-max-props-per-line": [1, {"allowMultiline": false}],
    "react/jsx-no-undef": [1, {"allowGlobals": true}],
    "react/jsx-no-duplicate-props": [1],
    "react/jsx-no-useless-fragment": [1],
    "react/jsx-one-expression-per-line": [1, {"allow": "none"}],
    "react/jsx-sort-props": [1]
  }
}
