@tailwind base;

@tailwind components;

@tailwind utilities;

/* .search-box:hover .search {
  opacity: 60%;
}
.search-box:hover .mag-glass {
  opacity: 60%;
} */

.create-box:hover .plus {
  opacity: 60%;
  
}

.create-box:hover .create {
  opacity: 60%;
}

.h-128 {
  height: 32rem;
}

.home-latest:hover {
  border-bottom-color: #ebc034;
  border-bottom-width: 6px;
}



.add-card-div  { 
  
  
  border-bottom-width: 6px;
}

.add-card-div:hover {
  color: #ebc034;
  border-bottom-color: #ebc034;
}

.create-card-set-button:hover .create-text {
  color: black;
}
.create-card-set-button:hover  {
  background-color: #ebc034;
}

.w-128 {
  width: 32rem;
}

.w-96 {
  width: 24rem;
}


.has-line:hover {
    box-shadow: inset 0px -.5rem 0 0 #ebc034;
}